.header,
.title,
.subtitle,
.footer-text {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 12px;
  color: #DF4726;
}

.footer-text {
  font-size: 12px;
  line-height: 16px;
  color: #aaaaaa;
}
.footer-text a {
  color: #aaaaaa;
}

.container {
  width: 600px;
  max-width: 600px;
}

.container-padding {
  padding-left: 24px;
  padding-right: 24px;
}

.person-padding-left {
  padding-left: 48px;
}

.person-padding-right {
  padding-left: 48px;
  padding-right: 54px;
}

.content {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ffffff;
}

code {
  background-color: #eee;
  padding: 0 4px;
  font-family: Menlo, Courier, monospace;
  font-size: 12px;
}

hr {
  border: 0;
  border-bottom: 1px solid #cccccc;
}

.hr {
  height: 1px;
  border-bottom: 1px solid #cccccc;
}

.title {
  font-size: 22px;
  font-weight: normal;
  line-height: 28px;
  color: #333333;
}

.subtitle {
  font-size: 16px;
  font-weight: 600;
  color: #2469A0;
}
.subtitle span {
  font-weight: 400;
  color: #999999;
}

.body-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #333333;
}

.top-grey-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding-bottom: 12px;
  color: #666666;
}

.top-grey-text-left
{
  padding-right: 35px;
}

a {
  color: #006699;
}

a:hover {
  color: #0099cc;
}

.logo-image {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

.logo-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #999999;
}

.banner-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 27px;
  text-align: left;
  color: #ffffff;
  padding-top: 24px;
  padding-bottom: 20px;
}

.banner-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: regular;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
  padding-bottom: 20px;
}

.banner-button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  border: 1px solid #ffffff;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 24px;
}

.banner-button:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #cc0000;
}

.banner-button-red {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  background-color: #e44634;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 24px;
}

.banner-button-red:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #a5130c;
}

.content-link {
  color: #e44634;
  text-decoration: none;
}

.content-link:hover {
  color: #e44634;
  text-decoration: underline;
}

.person-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  color: #333333;
  padding-top: 90px;
  padding-bottom: 10px;
}

.person-sign {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  color: #333333;
  padding-top: 10px;
  padding-bottom: 50px;
}

.contacts {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  color: #333333;
  padding-top: 40px;
  padding-bottom: 40px;
}

